*
{
    color: white;
} 
.mga
{
    height: 200px;
    width: 700px;
    background-color: black;
    opacity: 0;
    visibility: hidden;
}
.mga:hover button
{
    opacity: 1;
    visibility: visible;
}